<div class="ui teal top attached secondary segment">
<i class="ui blue question circle icon _help" data-name="{{suite.name}}"></i> <b>{{suite.name}}</b>
</div>
<div class="ui attached segment">
	{{q['frm-suite']|raw}}
</div>
<div class="ui segment">
  <button id="validate-btn" class="ui button positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-btn" class="ui button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{script_foot|raw}}