<div class="ui teal top attached secondary segment">
<i class="ui blue question circle icon _help" data-name="{{cmd.name}}"></i> <b>{{cmd.name}}</b>
</div>
<div class="ui attached segment">
	{{q['frm-command']|raw}}
</div>
<div class="ui segment">
  <button id="validate-btn" class="ui button positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <a href='#' id="save-btn" class="ui teal button">
  	<i id="icon-bt-save" class="icon save"></i>
  	 Save in My commands
  </a>
  &nbsp;
  <button id="cancel-btn" class="ui button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{script_foot|raw}}