<form class="ui {{inverted}} form" id="git-frm" name="git-frm" novalidate>
	<div class="ui top attached secondary {{inverted}} segment">Git commands</div>
	<div class="ui attached {{inverted}} segment">
		<div class="field">
			{{q['dd-git-macros']|raw}}
		</div>
		<div class="field">
			<label>Text</label>
			<textarea name="commands" id="commands" rows="10">{{commands}}</textarea>
		</div>
	</div>
</form>
<div class="ui {{inverted}} segment">
	<div class="ui grid">
		<div class="eight wide column">
			<button id="validate-btn" class="ui button {{inverted}} positive">
				<i id="icon-bt-okay" class="icon check circle"></i>
				 Execute git commands
			</button>
			&nbsp;
			<button id="cancel-btn" class="ui {{inverted}} button">
				<i id="icon-bt-cancel" class="icon remove circle outline"></i>
				 Cancel
			</button>
		</div>
		<div class="eight wide column">
			<div class="ui fluid action input">
			  <input type="text" id="macro-name" name="macro-name" placeholder="Macro name...">
			  <button id="add-macro-btn" class="ui black {{inverted}} button">Save these commands</button>
			</div>
		</div>
	</div>
</div>
{{ script_foot | raw }}
