<div class="ui teal top attached secondary {{inverted}} segment">
<i class="ui code icon "></i> <b>{{filename}}</b>
</div>
<div class="ui attached {{inverted}} segment">
	{{q['frm-env']|raw}}
</div>
<div class="ui {{inverted}} segment">
  <button id="validate-btn" class="ui {{inverted}} button positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-btn" class="ui {{inverted}} button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{script_foot|raw}}