<form class="ui {{inverted}} form" id="oauth-controller-frm" novalidate>
	<div class="ui top attached secondary {{inverted}} segment">Adding an OAuth controller</div>
	<div class="ui attached {{inverted}} segment">
		<div class="two fields">
			<div class="field">
				<label for="auth-name">Name</label>
				<div class="ui labeled input">
					<div class="ui label">
					    {{controllerNS}}
					</div>
					<input id="auth-name" name="auth-name" placeholder="OAuthController name">
				</div>
			</div>
			<div class="field">
				<label for="ctrl-list">Base class</label>
				{{ q["ctrl-list"] | raw }}
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="three fields">
			<div class="field">
				<label for="route-path">@route(path)</label>
				<input id="route-path" name="route-path" value="{{route}}">
			</div>
		</div>
	</div>
</form>
<div class="ui {{inverted}} segment">
  <button id="validate-btn" class="ui button {{inverted}} positive">
  	<i id="icon-bt-okay" class="icon check circle"></i>
  	 Validate
  </button>
  &nbsp;
  <button id="cancel-btn" class="ui {{inverted}} button">
  	<i id="icon-bt-cancel" class="icon remove circle outline"></i>
  	 Cancel
  </button>
</div>
{{ script_foot | raw }}
